

h1 { font-family: 'Lucida Console', monospace; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; color: red; } 
h3 { font-family: 'Lucida Console', monospace; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; color: white;} 
p { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; color: white;} 

#bgrad {
    background-color: darkblue; /* For browsers that do not support gradients */
    background-image: linear-gradient(darkblue, black);}

/* #summaryCharts {
    display: flex;
    height: 500px;
}

#summaryCharts section {
    border: 1px solid black;
    background: green;
    flex: 1 1 auto;
    flex-basis: 50%;
} */

.chart-parent--container {
    display: flex;
}

.chart--container {
    height: 100%;
    width: 100%;
    min-height: 400px;
}

#vitalScorecards h3 {
    color: black;
}

#vitalScorecards output {
    font-size: xx-large;
    color: blue;
}

#totalSales:before {
    content: '$';
    font-size: xx-large;
    color: green;
}