

h1 { font-family: 'Helvetica Neue', monospace; font-size: 60px; font-style: bold; font-variant: bold; font-weight: 700;text-shadow: #FC0 1px 0 10px; line-height: 26.4px; color: whitesmoke; background-color: black;} 
h3 { font-family: 'Lucida', monospace; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; color: white;} 
p { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 20px; font-style: bold; font-variant: normal; font-weight: 400; line-height: 20px; color: black;} 

#h1container {font-family: 'Helvetica Neue', monospace; font-size: 60px; font-style: bold; font-variant: bold; font-weight: 700;text-shadow: #FC0 1px 0 10px; line-height: 26.4px; color: whitesmoke; background-color: black;
        position: relative;
        text-align: center;
        color: white;
      }

#centered {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#myMap {
    height: 400px; 
    max-width: fit-content; 
    margin: 0 auto;
}

.chart-parent--container {
    display: flex;
}

.chart--container {
    height: 100%;
    width: 100%;
    min-height: 400px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

  p {
      text-align: center;
      font-size: 1.2em;
      /* border-style: double; */
      outline: 2px solid black;
  }
.chart--container2 {
    height: 50%;
    width: 50%;
    min-height: 300px;
}