

h1 { font-family: 'Helvetica Neue', monospace; font-size: 60px; font-style: bold; font-variant: bold; font-weight: 700;text-shadow: rgb(252, 236, 175) 1px 0 10px; line-height: 26.4px; color: whitesmoke; background-color: black; position: relative; text-align: center;} 
h3 { font-family: 'Lucida', monospace; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; color: white;} 
p { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 20px; font-style: bold; font-variant: normal; font-weight: 400; line-height: 20px; color: black;} 

#titlecontainer {font-family: 'Helvetica Neue', monospace; font-size: 80px; font-style: bold; font-variant: bold; font-weight: 700;text-shadow: rgb(43, 41, 33) 1px 0 10px; line-height: 26.4px; color: whitesmoke; background-color: black;
    position: relative;
    text-align: center;
    color: white;
  }
#h1container {font-family: 'Helvetica Neue', monospace; font-size: 60px; font-style: bold; font-variant: bold; font-weight: 700;text-shadow: rgb(252, 236, 175) 1px 0 10px; line-height: 26.4px; color: whitesmoke; background-color: black;
        position: relative;
        text-align: center;
        color: white;
      }

#centered {
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#centeredtitle {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#centeredtitle2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#centeredtitle3 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#myMap {
    height: 450px; 
    max-width: fit-content; 
    margin: 0 auto;
}

.chart-parent--container {
    display: flex;
}

.chart--container {
    height: 100%;
    width: 100%;
    min-height: 400px;
}

.chart-parent--container--demo {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 2em;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  .general {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      text-align: center;
      font-size: 1.2em;
      line-height: 2;
      /* border-style: double; */
  }
  .biggerText {
    text-align: center;
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 0.2em;
  }

.chart--container2 {
    height: 70%;
    width: 100%;
    min-height: 300px;
}
.chart--container3 {
    height: 70%;
    width: 100%;
    min-height: 300px;
}
.preventionPoints {
    margin-left: 6em;
    font-size: 1.2em;
    line-height: 3;
}
.smallerText {
    text-align: center;
    font-size: 1em;
  }

